@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, input, textarea {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font-weight: 300;
	font-size: 1em;
	font-family: "Raleway";
}

#canvas {
  //display:flex;
  //flex-direction: row;
  height: 100%;
  cursor: pointer;
  //flex-wrap: nowrap;
  //justify-content: space-between;
  //align-content: stretch;
  //align-items: stretch;
  min-height: 100%;
}

.colum {
	position: relative;
	float: left;
	width: 20%;
	//display: flex;
  padding: 1em;
	background-color: #EEE;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	//flex-grow: 1;
	//justify-content: center;
	//align-items: stretch;
  //align-content: stretch;
  height: 100%;
  .label {
 		position: absolute;
    top: 50%;
    left: 50%;
  	text-align: center;
  	// display: flex;
  	// width: 70px;
  	color: #FFF;
  	font-size: 1.2em;
  	// align-items: center;
		// justify-content: center;
		transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

  }
  input {
  	align-self: flex-start;
  }
  textarea {
  	display: none;
		padding: 1.5em;
  	width: 0;
  	border: 0;
  	background: transparent;
		color: #FFF;
		font-size: 1em;
		font-family: "arial";
		font-weight: 300;
		height: 100%;
  }
}

$color-a: #c98850;
$color-b: #346ca6;
$color-c: #78a734;
$color-d: #ab3558;
$color-e: #a382d8;

[data-color="color-a"] {
	background: $color-a;
	&:hover {
		//background: lighten( $color-a, 5%);
	}
}

[data-color="color-b"] {
	background: $color-b;
	&:hover {
		//background: lighten( $color-b, 5%);
	}
}

[data-color="color-c"] {
	background: $color-c;
	&:hover {
		//background: lighten( $color-c, 5%);
	}
}

[data-color="color-d"] {
	background: $color-d;
	&:hover {
		//background: lighten( $color-d, 5%);
	}
}

[data-color="color-e"] {
	background: $color-e;
	&:hover {
		//background: lighten( $color-e, 5%);
	}
}

footer {
	position: fixed;
	top: 5px;
	right: 5px;
	width: 19%;
	background: rgba(0,0,0, 0.2);
	cursor: pointer;
	a {
		display: block;
		padding: 1em;
		color: rgba(255,255,255, 0.5);
		text-align: center;
		text-decoration: none;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		&:hover {
			background: rgba(0,0,0, 0.6);
			color: rgba(255,255,255, 1);
		}
	}
}