@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, input, textarea {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font-weight: 300;
	font-size: 1em;
	font-family: "Open Sans", airal;
}

input, textarea {
	font-family: "Open Sans", airal;
	font-weight: 300;
}

#canvas {
  height: 100%;
  cursor: pointer;
  min-height: 100%;
  overflow: hidden;
}

.colum {
	position: relative;
	float: left;
	width: 20%;
  padding: 1em;
	background-color: #EEE;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
  height: 100%;
  input {
		width: 94%;
		margin: 1em;
		display: block;
		background: transparent;
		border: 0;
		text-align: center;
  	color: #FFF;
  	font-size: 1.2rem;
  	margin: 0 auto;
	}
  textarea {
  	float: left;
  	display: none;
		padding: 1.5em;
  	width: 0;
  	border: 0;
  	background: transparent;
		color: #FFF;
		font-size: 1rem;
		height: 100%;
		resize: none;
		margin: 1em 0;
  }
}

.inner {
 		position: absolute;
    top: 50%;
    left: 50%;
  	width: 100%;
  	color: #FFF;
  	font-size: 1.2em;
  	align-items: center;
		justify-content: center;
		transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 1em 0;
}

$color-a: #c98850;
$color-b: #346ca6;
$color-c: #78a734;
$color-d: #ab3558;
$color-e: #a382d8;

[data-column="c0"] {
	background: $color-a;
	&:hover {
		background: lighten( $color-a, 5%);
	}
}

[data-column="c1"] {
	background: $color-b;
	&:hover {
		background: lighten( $color-b, 5%);
	}
}

[data-column="c2"] {
	background: $color-c;
	&:hover {
		background: lighten( $color-c, 5%);
	}
}

[data-column="c3"] {
	background: $color-d;
	&:hover {
		background: lighten( $color-d, 5%);
	}
}

[data-column="c4"] {
	background: $color-e;
	&:hover {
		background: lighten( $color-e, 5%);
	}
}

footer {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 19%;
	background: rgba(0,0,0, 0.2);
	cursor: pointer;
	a {
		display: block;
		padding: 1em;
		color: rgba(255,255,255, 0.5);
		text-align: center;
		text-decoration: none;
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		&:hover {
			background: rgba(0,0,0, 0.6);
			color: rgba(255,255,255, 1);
		}
	}
}