@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/**
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, input, textarea {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  font-weight: 300;
  font-size: 1em;
  font-family: "Open Sans", airal;
}

input, textarea {
  font-weight: 300;
  font-family: "Open Sans", airal;
}

#canvas {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  cursor: pointer;
}

.colum {
  position: relative;
  float: left;
  padding: 1em;
  width: 20%;
  height: 100%;
  background-color: #EEE;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.colum input {
  display: none;
  display: block;
  width: 70%;
  margin: 1em;
  margin: 0 auto;
  border: 0;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0;
}
.colum textarea {
  display: none;
  float: left;
  margin: 1em 0;
  padding: 1.5em;
  width: 0;
  height: 100%;
  border: 0;
  background: transparent;
  color: #FFF;
  font-size: 1rem;
  resize: none;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em 0;
  width: 100%;
  color: #FFF;
  font-size: 1.2em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

[data-column="c0"] {
  background: #c98850;
}
[data-column="c0"]:hover {
  background: #cf9563;
}

[data-column="c1"] {
  background: #346ca6;
}
[data-column="c1"]:hover {
  background: #3a79b9;
}

[data-column="c2"] {
  background: #78a734;
}
[data-column="c2"]:hover {
  background: #86ba3a;
}

[data-column="c3"] {
  background: #ab3558;
}
[data-column="c3"]:hover {
  background: #be3b62;
}

[data-column="c4"] {
  background: #a382d8;
}
[data-column="c4"]:hover {
  background: #b195de;
}

footer {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 19%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
@media (max-width: 767px) {
  footer {
    display: none;
  }
}
footer a {
  display: block;
  padding: 1em;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
footer a:hover {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
